<p>
  owner works!
</p>

<h3>Nieuwe owner aanmaken</h3>

    <!-- <input class="invoer" [(ngModel)]="leerlingAanmaken.voornaam" placeholder="Voornaam" id="gebruikerVoornaam"><br>
    <input class="invoer" [(ngModel)]="leerlingAanmaken.tussenvoegsel" placeholder="Tussenvoegsel"><br>
    <input class="invoer" [(ngModel)]="leerlingAanmaken.achternaam" placeholder="Achternaam"><br>
    <input class="invoer" [(ngModel)]="leerlingAanmaken.gebruikersnaam" placeholder="Gebruikersnaam"><br>
    <input class="invoer" [(ngModel)]="leerlingAanmaken.wachtwoord" placeholder="Wachtwoord"><br>
    <label class="button" id="opslaan">
    <a (click)="postOwner()">Leerling opslaan</a>
    </label> -->
