<app-header></app-header>
  
<h1>SALPO</h1>
<h3>waiting to be updated ......</h3>

<!-- <div>
  <label>Voer owner ID in: </label>
  <input [(ngModel)]="id">
  <button (click)="getOwnerById(id)">Haal owner van invoerveld op</button>
</div>

<div *ngIf="owner">
  <h3>Owner met ID: {{id}}</h3>
  <ul>
    <li>{{ owner.firstName }} {{ owner.lastName }}</li>
  </ul>
</div> -->

<div>
  <button (click)="getOwner()">List</button>
</div>

<div *ngIf="allOwner">
  <h2>Alle owners</h2>
  <ul>
      <li *ngFor="let owner of allOwner"><strong>{{ owner.firstName }} {{ owner.lastName }}</strong><br>{{ owner.email }}</li>
      <!-- let = typescript versie van var (variabele)-->
  </ul>
</div>




<app-footer></app-footer>


<!-- <label>Voer bladmuziek ID in: </label><input [(ngModel)]="muziekstukId">
<button (click)="getMuziekstukById(muziekstukId)">Haal muziekstuk van invoerveld op</button><br> -->